:root {

    --off-white: 315, 3%, 94%;
    --background-black: 315, 14%, 10%;

    --green: 131, 83%, 30%;
    --red: 0, 85%, 39%;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(var(--background-black));
    color: hsl(var(--off-white));
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2.5rem;
    align-items: center;
    justify-content: space-between;
}

.navbar-link,
.navbar-link:active,
.navbar-link:visited {
    color: hsl(var(--off-white));
    text-decoration: none;
}