:root {

    --off-white: 315, 3%, 94%;
    --background-black: 315, 14%, 10%;

    --green: 131, 83%, 30%;
    --red: 0, 85%, 39%;
}

body {
    margin: 0;
    padding: 0;
    /* background-color: hsl(var(--background-black)); */
    /* color: hsl(var(--off-white)); */
    background: radial-gradient(50% 50% at 50% 50%, rgb(252.92, 251.47, 242.02) 0%, rgb(253.94, 251.12, 232.81) 100%);
    background-color: rgba(255, 255, 255, 1);
    color: hsl(var(--background-black));
}

.content{
    display: grid;
    grid-template-columns: 16.5rem 1fr;
}

/* ---- */
/* Card */
/* ---- */

.shadow1{
    box-shadow: 
    1px 2px 4px rgba(0, 49, 14, 0),
    2px 4px 6px rgba(0, 32, 13, 0.01), 
    3px 6px 8px rgba(0, 18, 11, 0.05),
    4px 8px 10px rgba(0, 8, 8, 0.09),
    5px 10px 12px rgba(0, 2, 4, 0.1);
}

.shadow2{
    box-shadow: 
    1px 2px 4px rgba(0, 38, 11, 0),
    2px 4px 6px rgba(0, 24, 10, 0.01), 
    3px 6px 8px rgba(0, 14, 8, 0.05),
    4px 8px 10px rgba(0, 6, 6, 0.09),
    5px 10px 12px rgba(0, 2, 3, 0.1);
}

/*--  */
/* Font Sizes */
/* - */

.fs-32{
    font-size: 32px;
}
.fs-24{
    font-size: 24px;
}