.buttonHolder {
    display: flex;
    flex-direction: row;
    width: 30rem;
    gap: 3rem;
    margin-top: 1.125rem;
}

.answerButton {
    border: none;
    background-color: hsl(var(--off-white));
    border-radius: 5px;
    width: 13.75rem; 
    height: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CardImage {
    width: 30rem;
    height: auto;
    border-radius: 5px;
    border: none;
}

.imageButton{
    border: none;
    background:transparent;
}

/** Button styles*/

.answerButtonKnown {
    color: hsl(var(--green));
}


.answerButtonUnknown {
    color: hsl(var(--red));
}

.buttonSvg{
    width: 50px;
    height: 50px;
}

.reverseCard{
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
}